:root {
    --primary-color: #92CCCD;
    --secondary-color: #31343D;
    --tertiary-color: #455978;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EDEDF6;

}

section {
    padding: 10px;
}

/* Header styling */
header {
    padding: 20px 35px;
    background-color: #31343D;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color: var(--secondary-color);
    background-attachment: fixed;

}

.header-highlight{
    background-color: #31343D;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);

}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.3vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* hero styling */
.hero {
    background-image:url(../images/hero.jpg);
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.hero-section {
    background-color: var(--primary-color);
    width: 10%;
    display: flex;
    justify-content: right;
    margin-top: 5%;
}

.hero-section h2 {
    color: var(--secondary-color);
    margin: 0 auto;
    font-size: 1.5vw;
}

/* section styling */

.section {
    margin: 50px auto;
    padding-bottom: 10px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.section:last-child {
    text-align: right;
}
.section:not(:last-child) {
text-align: right;
}

.section h3 {
    color: var(--tertiary-color);
    font-size: 30px;
    flex: 1 10%;
    padding-right: 10px;
}
















